<%= form_for  [:admin, @portfolio] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title  %>

  <%= f.label :description %>
  <%= f.text_field :description  %>
  
  <%= f.label :image_url %>
  <%= f.text_field :image_url  %>
  
  <%= f.label :githup_url %>
  <%= f.text_field :githup_url  %>
  
  <%= f.label :dribbble_url %>
  <%= f.text_field :dribbble_url  %>
  <%= f.label :technologies %>
  <div class="input-field col s12">
    <%= f.collection_select(:technologies, Technology.all, :id, :name, {:prompt => true}, {:multiple => true}) %>
  </div>

  <%=f.submit "update portfolio"%>

<%end%>